<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar *ngIf = "categoryImage"> 
         <img [src] = "categoryImage"> 
      </div>
      <mat-card-title>
        <select #mySelect
        (change)='onSelect(mySelect.value)'>
            <option value="" selected>{{category}}</option>
            <option *ngFor="let car of categories" [value]="car.id">
              {{car.cat}}
            </option>
        </select>
    </mat-card-title>
      <mat-card-subtitle>classification result</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{classifyService.doc}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button   class="change"  color="primary" (click) = "addClassifyToFirestore()" mat-raised-button >Save to firestore</button>
    </mat-card-actions>
  </mat-card>

