<div *ngIf = "!(articals$ | async)">Loading...</div>
<div >
  <button mat-raised-button color="primary" routerLink="/classify">Add classify</button>
</div>
<mat-accordion>
    <!-- article הוא יכול להיות כל שם אחר מגדירים אותו רק בקומפוננט הזה -->
    <mat-expansion-panel *ngFor = "let artical of articals$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{artical.title}}
        </mat-panel-title>
        <div >
      </div>
      </mat-expansion-panel-header> 
           {{artical.body}} 
       
        
    </mat-expansion-panel>
</mat-accordion>
